.headercontain{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border: 5px solid black;
    border-radius: 5px;
    background-color:rgb(49, 219, 241);
}

.headercontain .logo img
{
    justify-content: left;
    height: 150px;
    width: 250px;
}

nav ul {
    display: inline-block;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a { 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    color: black;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
}