/* Header for all pages */
.headercontain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 4px solid black;
    border-radius: 5px;
    background-color:lightblue;
    height: 147px;
    min-height: auto;
    max-height: 147px;

    padding: 0 10px;
}

.headercontain .logo img
{
    min-height: auto;
    height: 150px;
    max-height: 150px;
    width: 250px;
}

.pageMap{
    display: flex;
    flex: 1;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin-right: 35px;
}

nav ul li a { 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    color: black;
    text-decoration: none;
}

.buttonsforacc {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;   
}

.buttonsforacc p {
    font-size: 25pt;
}

button{
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    height: 50px;
    background-color:lightblue; 
}

#Login-pop {
    height: 250px;
    width: 250px;
}

#signup-pop{
    height: 250px;
    width: 250px;
}

/* End of header for all pages */